<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/css/jquery.dataTables_themeroller.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/css/dataTables.bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/colReorder.bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>
    <section id="container">
        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Admin/AnaSayfa">@ServisTakipWeb.Connection.adi.ToString()</a>
                </div>

                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li> 
                            <li>
                                <a href="/"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav">
                        <li>
                            <a href="/Admin/AdminBilgileri"><i class="fa fa-fw fa-desktop"></i> Admin Bilgileri</a>
                        </li>
                        <li>
                            <a href="/Admin/FirmaBilgileri"><i class="fa fa-fw fa-users"></i> Firma Bilgileri</a>
                        </li> 
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    @RenderBody()


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>

    </section>
        <!-- /#wrapper -->
    
    <!-- jQuery --> 
    @Scripts.Render("~/js/jquery.js")
    
    <!-- Bootstrap Core JavaScript -->
        @Scripts.Render("~/js/bootstrap.min.js")
       @* @Scripts.Render("~/js/dataTable.js")*@ 

    <!-- Morris Charts JavaScript --> 
    @*@Scripts.Render("~/js/morris.min.js")
    @Scripts.Render("~/js/plugins/morris/raphael.min.js")
    @Scripts.Render("~/js/plugins/morris/morris-data.js")*@

    @*@Scripts.Render("~/js/dataTables.bootstrap.min.js")
    @Scripts.Render("~/js/dataTables.colReorder.min.js")
    @Scripts.Render("~/js/jquery.dataTables.min.js")*@
    
    @RenderSection("scripts",required:false)
     
    @*<script src="@(Url.Content("~/js/jquery.js"))" type="text/javascript"></script>*@ 
      
    @*<script src="@(Url.Content("~/js/bootstrap.min.js"))" type="text/javascript"></script>*@

    @*<script src="@(Url.Content("~/js/plugins/morris/raphael.min.js"))" type="text/javascript"></script>
    <script src="@(Url.Content("~/js/morris.min.js"))" type="text/javascript"></script>
    <script src="@(Url.Content("~/js/plugins/morris/morris-data.js"))" type="text/javascript"></script>*@ 
</body>
</html>
