@using ServisTakipWeb.Areas.FirmaYonetici.Models
@model SozlesmeBilgileri

@{
    ViewBag.Title = "SozlesmeEkle";
    Layout = "~/Areas/FirmaYonetici/Views/Shared/FirmaYoneticiLayout.cshtml";
} 
<title>Müşteri Bilgileri</title>

@using (Html.BeginForm("SozlesmeEkle", "MusteriBilgileri", FormMethod.Post, new { id = "frmEdit", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @ViewBag.Message

    @Html.HiddenFor(model => model.MusteriKodu)
    
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.SozlesmeAdi)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Sözleşme Adı" name="SozlesmeAdi" type="text" value="@Model.SozlesmeAdi" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.SlaSuresi)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Sla Süresi" name="SlaSuresi" type="text" value="@Model.SlaSuresi" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.AnlasmaUcreti)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Anlaşma Ücreti" name="AnlasmaUcreti" type="text" value="@Model.AnlasmaUcreti" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
     
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.ParcaDahilMi)
        </div>
        <div class="col-md-4"> 
            @Html.CheckBoxFor(model => model.ParcaDahilMi)
        </div>
        <div class="col-md-6">
        </div>
    </div>
     
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.BaslangicTarih)
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    @Html.TextBoxFor(model => model.BaslangicTarih, new { @class = "form-control datepicker", id = "datetimepicker", placeholder = "BaslangicTarih" })

                    @*<input type="text" id="datetimepicker" name="BaslangicTarih" class="form-control" value="@Model.BaslangicTarih" required>*@
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.BitisTarih)
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span> 
                    <input type="text" id="datetimepicker2" name="BitisTarih" class="form-control" value="@Model.BitisTarih" required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row" style="margin-top: 10px">
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-success">
                    @ViewBag.FileStatus
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    @*@Html.Action("FileDetails", "Home")*@

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px ">
        <div class="col-md-2 form-group">
            <a href="@Url.Action("Index", "MusteriBilgileri")" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-remove aria-hidden=" true"></span>
                İptal Et
            </a>
        </div>
        <div class="col-md-4 form-group">
            <a href="@Url.Action("MusteriEkle", "MusteriBilgileri", new { id = @Model.MusteriID })" class="btn btn-default btn-block">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                Müşteri Bilgileri
            </a>
        </div>

        <div class="col-md-6 form-group">
            <button class="btn btn-default btn-block" type="submit" value="Kaydet">
                Kaydet
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
        </div>
    </div>
}

<script>
    function SubmitForm() {
        $("#frmEdit").submit();
    }
</script>


