@using ServisTakipWeb.Areas.Firma.Models
@model FirmaYönetici

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Firma/Views/Shared/FirmaLayout.cshtml";
}
 
@using (Html.BeginForm("Edit", "YoneticiBilgileri", FormMethod.Post, new { id = "frmEdit", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.FyID)

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="UserName" name="UserName" type="text" value="@Model.UserName" required>
            @ViewBag.Message
        </div>

        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Password" name="Password" type="text" value="@Model.Password" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Ad)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Ad" name="Ad" type="text" value="@Model.Ad" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Soyad)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Soyad" name="Soyad" type="text" value="@Model.Soyad" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Gsm)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Gsm" name="Gsm" type="text" value="@Model.Gsm" required>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="Email" name="Email" type="text" value="@Model.Email">
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-2">
            @Html.LabelFor(model => model.FirmaID)
        </div>
        <div class="col-md-4">
            <input class="form-control" placeholder="FirmaID" name="FirmaID" type="text" value="@Model.FirmaID" readonly>
        </div>
        <div class="col-md-6">
        </div>
    </div>


    <div class="row" style="margin-top:10px ">
        <div class="col-md-4"></div>

        <div class="col-md-2">
            <button class=" btn btn-outline-primary btn-block" type="submit" value="Kaydet">
                Kaydet
            </button>
        </div>
    </div>

}

<script>
    function SubmitForm() {
        $("#frmEdit").submit();
    }
</script>
