@model IEnumerable<ServisTakipWeb.Areas.Musteri.Models.MusteriYoneticiBilgileri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Musteri/Views/Shared/MusteriLayout.cshtml";
}
  
<h2>Müşteri Yönetici Bilgileri</h2>


<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> @ServisTakipWeb.Connection.musteriYoneticiBilgileri.ToString()</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" style="margin-bottom:20px" class="btn btn-outline-primary btn-block">
                        @Html.ActionLink("Yeni Kayıt", "Create")
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="data" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.MyID)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.UserName)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Password)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.Ad)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Soyad)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Gsm)</th>
                            <th class="col-md-4">@Html.DisplayNameFor(model => model.Email)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.MusteriID)</th>
                            <th class="col-md-2">@Html.DisplayNameFor(model => model.CreateDate)</th>
                            <th class="col-md-3"></th>
                            <th class="col-md-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="col-md-2">@Html.DisplayFor(modelItem => item.MyID)</td>
                                <td class="col-md-4">@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td class="col-md-2">@Html.DisplayFor(modelItem => item.Password)</td>
                                <td class="col-md-2">@Html.DisplayFor(modelItem => item.Ad)</td>
                                <td class="col-md-4">@Html.DisplayFor(modelItem => item.Soyad)</td>
                                <td class="col-md-4">@Html.DisplayFor(modelItem => item.Gsm)</td>
                                <td class="col-md-4">@Html.DisplayFor(modelItem => item.Email)</td>
                                <td class="col-md-4">@Html.DisplayFor(modelItem => item.MusteriID)</td>
                                <td class="col-md-2">@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                <td class="col-md-3">
                                    <button type="submit" style="margin-bottom:20px" class="btn btn-outline-primary btn-block">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MyID })
                                    </button>
                                </td>
                                <td class="col-md-3">
                                    <button type="submit" style="margin-bottom:20px" class="btn btn-outline-primary btn-default">
                                        @Html.ActionLink("Delete", "", new { id = item.MyID })
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="text-right">
                <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>  
