@using ServisTakipWeb.Areas.FirmaYonetici.Models
@model CagriAtamaBilgileri

@{
    ViewBag.Title = "Atama";
    Layout = "~/Areas/FirmaYonetici/Views/Shared/FirmaYoneticiLayout.cshtml";
}

@using (Html.BeginForm("Atama", "GelenCagrilar", FormMethod.Post, new { id = "frmAtama", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.ID)

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CagriNo)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CagriNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.MusteriKodu)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MusteriKodu, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.MusteriAdi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.MusteriAdi, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Adres)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Adres, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.IlgiliKisi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.IlgiliKisi, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Telefon)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control", @readonly = "readonly" })
                </div>

                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.SarfMalzemeTalebi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SarfMalzemeTalebi, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CihazTipi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CihazTipi, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Marka)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Marka, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Model)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Model, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.SeriNo)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.SeriNo, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.BarkodNo)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.BarkodNo, new { @class = "form-control", @readonly = "readonly", placeholder = "Barkod No" })
                </div>

                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Aciklama)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.Aciklama, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CagriDetayi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CagriDetayi, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CagriAcilisTarihi)
                </div>
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.CagriAcilisTarihi, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.AtananID)
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.AtananID, new SelectList(ViewBag.CalisanList, "FcID", "CalisanAdSoyad"), new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.VarisTarih)
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                    @Html.TextBoxFor(model => model.VarisTarih, new { @class = "form-control datepicker", id = "datetimepickerSaatli", placeholder = "Varış Tarihi" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Not)
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Not, new { @class = "form-control", placeholder = "Not" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-1">
                            @Html.LabelFor(model => model.AcilMi)
                        </div>
                        <div class="col-md-4">
                            @Html.CheckBoxFor(model => model.AcilMi)
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px ">
        <div class="col-md-4"> </div>
        <div class="col-md-2">
            <a href="@Url.Action("Goruntule", "GelenCagrilar", new { _cagriNo = @Model.CagriNo })" class="btn btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Kapat
            </a>
        </div>
        <div class="col-md-2">
            <button class="btn btn-lg btn-primary" type="submit" value="Kaydet">
                Atama Yap <span class="glyphicon glyphicon-hand-right"></span>
            </button> 
        </div>
        <div class="col-md-4"> </div>
    </div>
    <br />
    <br />
}

<script>
    function SubmitForm() {
        $("#frmAtama").submit();
    }
</script>
