@model IEnumerable<ServisTakipWeb.Areas.Admin.Models.AdminBilgileri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
} 

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     
</head>

 <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-body-center">
                <strong> Admin Bilgileri</strong>
            </div>
            <div class="panel-body">

                <fieldset>

                    <table>
                        <tr>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th class="col-md-4">
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(model => model.CreateDate)
                            </th>
                            <th class="col-md-2">
                            </th>
                        </tr>
                        
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="col-md-4">
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td class ="col-md-4">
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td class ="col-md-2">
                                        @Html.DisplayFor(modelItem => item.CreateDate)
                                    </td>
                                    <td class ="col-md-2">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }

                    </table>
                </fieldset>

            </div> 
        </div>
    </div>
</div>